<log4net>
    <appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, log4stash">
        <Server>elk.internal.tddapps.com</Server>
        <Port>9200</Port>
        <IndexName>ss2_%{+yyyy-MM-dd}</IndexName>
        <ElasticFilters>
            <Kv>
                <SourceKey>Message</SourceKey>
                <ValueSplit>:</ValueSplit>
                <FieldSplit>, </FieldSplit>
            </Kv>
        </ElasticFilters>
    </appender>
    
    <root>
        <level value="INFO" />
        <appender-ref ref="ElasticSearchAppender" />
    </root>
</log4net>